<div class="main-container">
    <div class="progress-container">
        <h2>Your Entry Has Been Created!</h2>

        <mat-icon class="check-icon">check</mat-icon>
        <span>We've successfully received your submission and our team is now reviewing the details. You can expect to
            hear back from us within 2 business days.<br>
            <br>
            In the meantime, if you have any questions or need to update your information, feel free to reach out to us
            at [supportexample.com] or visit our Help Center.
            <br><br>
            We appreciate your interest and look forward to assisting you soon!</span>
    </div>
</div>