<mat-card *ngIf="lead" class="lead-details-card">
    <mat-card-header class="lead-details-header">
        <mat-card-title>Vehicle Details</mat-card-title>
        <span class="status-badge" [ngClass]="getLeadStatus(lead).class">
            {{getLeadStatus(lead).status}}
        </span>
    </mat-card-header>

    <mat-card-content>

        <div class="table-container">
            <table class="data-table">
                <tbody>
                    <tr *ngFor="let k of getDisplayData()">
                        <td class="data-table-key">{{k.key}}</td>
                        <td class="data-table-value">{{k.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>